@model IEnumerable<AssetManagement.Domain.Entities.Building>

@{
    ViewData["Title"] = "Buildings";
}

<h1>Buildings</h1>

<p>
    <a asp-action="Create"><input type="button" value="Create" class="btn btn-success" /></a>
</p>
<table class="table table-hover">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faculties)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @foreach (var faculty in item.Faculties)
            {
                <div>@faculty.Name</div>
            }
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.Id"><input type="button" value="Details" class="btn btn-primary" /></a>
            <a asp-action="Edit" asp-route-id="@item.Id"><input type="button" value="Edit" class="btn btn-warning" /></a>
            <a asp-action="Delete" asp-route-id="@item.Id"><input type="button" value="Delete" class="btn btn-danger" /></a>
        </td>
    </tr>
}
    </tbody>
</table>
