@model IEnumerable<AssetManagement.Domain.Entities.Department>

@{
    ViewData["Title"] = "Departments";
}

<h1>Departments</h1>

<p>
    <a asp-action="Create"><input type="button" value="Create" class="btn btn-success" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><input type="button" value="Details" class="btn btn-primary" /></a>
                    <a asp-action="Edit" asp-route-id="@item.Id"><input type="button" value="Edit" class="btn btn-warning" /></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><input type="button" value="Delete" class="btn btn-danger" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
